#homefeatured{
	.ajax_block_product{
		margin-bottom: 20px;
		overflow: hidden;
		.product-container{
			overflow: visible !important;
			&::after{
				content: "";
				background: #eaeaea;
				position: absolute;
				right: -10px;
				top: 0;
				width: 1px;
				height: 98%
			}
		}
	}
	margin-top: 20px;
}